<nav>
    <h3>Welcome!</h3>
    <a href=''>Home</a>
    <a href=''>Lessons</a>
    <a href=''>Exercises</a>
    <a href=''>Teacher Tools</a>
    <a href=''>Sign Up</a>
    <a href=''>Sign In</a>
    <a href=''>Sign Out</a>
</nav>