<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ./partials/head.ejs %>
    </head>
    <body>
        <% include ./partials/navbar.ejs %>
        
        <main class="container">
            <header class="jumbotron">
                <h1 class="display-3">MUSIC THEORY 101</h1>
                <h3 class="lead">A site for learning basic music theory quickly and easily at your fingertips!</h3>
                <h3 class="lead">Access for both students and teachers available</h3>
                <img src="/images/stave.png" alt="picture of a music stave" />
            </header>
            <section class="row text-center">
                <h2 class="card bg-light text-dark" style="padding:125px;">LEARN</h2>
                <h2 class="card bg-dark text-light" style="padding:125px;">PRACTICE</h2>
                <h2 class="card bg-light text-dark" style="padding:125px;">MASTER</h2>
            </section>
        </main>
        <% include ./partials/baseScripts.ejs %>
    </body>

</html>