<!DOCTYPE html>
<html>
    <head>
        <% include ./partials/head.ejs %>
    </head>
    <body>
        <% include ./partials/navbar.ejs %>
        
        <main>
            <header>
                <h1>MUSIC THEORY 101</h1>
                <h3>A site for learning basic music theory quickly and easily at your fingertips!</h3>
                <h3>Access for both students and teachers available</h3>
            </header>
            <section>
                <h2>LEARN</h2>
                <h2>PRACTICE</h2>
                <h2>MASTER</h2>
            </section>
        </main>
        <% include ./partials/baseScripts.ejs %>
    </body>

</html>