<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <main class="container" style="color:white;">
        <% include ../static/partials/navbar.ejs %>

        <% include ../static/partials/messages.ejs %>

        <% if(currentUser){ %>
            <a href="/lessons/new" class="btn btn-success">New Lesson</a>
        <% } %>

        <h2>LESSONS</h2>
        <ul class="list-group">
            <% lessons.forEach((lesson) => { %>
                <li class="list-group-item">
                    <a href="/lessons/<%= lesson.id %>"> <%= lesson.title %> </a>
                    <a href="/lessons/<%= lesson.id %>"> <%= lesson.description %> </a>
                </li>
           <% }) %>
        </ul>

    </main>
  </body>
</html>
