<!DOCTYPE html>
<html>
    <head>
        <% include ../static/partials/head.ejs %>
    </head>
    <body>
        <% include ../static/partials/navbar.ejs %>
        
        <main class="container" style="color:white;">
            <% include ../static/partials/messages.ejs %>

            <h2><%= lesson.title %></h2>

            <p><%= lesson.body %></p>
            
            <% if (currentUser && currentUser.role === 2) { %>
                <a href="/lessons/<%= lesson.id %>/edit" class="btn btn-light">Edit</a>
                <form style="display:inital" action="/lessons/<%= lesson.id %>/destroy" method="post">
                    <button type="submit" class="btn btn-light">Delete</button>
                </form>
            <% } %>

        </main>
    </body>
</html>